table {
  width: 800px;
}

h1{
  color: red;
}

html{
  background-image: url("../images/tile.jpg");
  background-repeat: repeat;
}

div.background{
  background: rgba(255,255,255,0.7);
}

body {
  cursor: cell;
}

#colonegauche {
  color: blue;
  text-align: center;
  width: 500px;
}

ol {
  margin-left: 30%;
  text-align: left;
}

#remplissagelatin {
  font-family: "courier new";
  text-align: center;
  white-space: pre;
  font-weight: bold;
}

.menu {
  color: purple;
}

.menu td, th {
  border: 1px solid;
  text-align: center;
  width: 1%;
}

iframe {
  margin-top: 20px;
}
